.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    background-color: white;
    margin-top:6%;
    width: 30%;
    margin-left: 26%;
    margin-bottom: 30%;
    border-radius: 1%;
}

/* .body{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    position: relative;
} */
.form-style{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    height: 100%;
    width: 100%;
}
.flex{
    height: 30px;
    }
#subbtn{
    height: 40px;
    width: 30%;
    border-radius: 10px;
    background-color: #007FFF;
    color: white;
    border: #007FFF;
    margin-left: 6%;
}
.lab{
    padding-left: 6%;
    color: gray;
}
.labdesc{
    padding-left: 6%;
    color: gray;
}
#title{
    width: 70%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#desc{
    width: 70%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#pic{
    margin-left: 6%;
}
#price{
    width: 30%;
    margin-left: 6%;
    height: 90%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#currency{
    width: 30%;
    margin-left: 1%;
    height: 110%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#categ{
    width: 60%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#check{
    width: 45%;
    margin-left: 6%;
}