.list{
    display:flex;
    flex-direction: column;
    margin-top: 8%;
    overflow-x: auto;
}
#pageTitle {
    margin-top: 3%;
    margin-left: 3%;
   
}
#txt{
    font-size: x-small;
    margin-left: 1%;
    color: gray;
}
#search{
    width: 30%;  
    margin-left: 70%;
    padding-bottom: 2%;
}

.bttn{
width: auto;
height: 40px;
}




