.list{
    display:flex;
    flex-direction: column;
    margin-top: 2%;
    overflow-x: auto;
}
#txt{
    font-size: x-small;
    margin-left: 1%;
    color: gray;
}
#search{
    width: 30%;  
    margin-left: 70%;
    padding-bottom: 2%;
}

.bttn{
width: auto;
height: 40px;
}
#tableCard{
    width: 100%;
}
/*.darkMode{
    background-color: #343434;
}*/





