.list{
    display:flex;
    flex-direction: column;
    margin-top: 2%;
    overflow-x: auto;
}

.bttn{
margin-left:auto;
width:140px;
}
.addPro{
    width: auto;
}
#tableCard{
    width: 100%;
}
.editBtn{
    color: gray;
}
/*.darkMode{
    background-color: #343434;
}*/
.table td{
    padding: 0.85rem;
}
#searchInput{
    width: auto;
}
@media (max-width:654px) {
    .table thead{
        display: none;
    }
    .table,
    .table tbody,
    .table td,
    .table tr{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15 px;
    }
    .table td{
        text-align: center;
        position: relative;
    }
}
@media (max-width:615px) {
    .addPro{
        width:fit-content;
        font-size: x-small;
        margin-left:47%;
       
    }
    #searchInput{
        width:50%;
    
    }
    .searchForm{
       height: 2px;
    }
}
@media (max-width:450px) {
    #searchInput{
        width:50%;
    
    }
    .searchForm{
       height: 2px;
    }
    .addPro{
        width:fit-content;
        font-size: x-small;
        margin-left:47%;
       
    }
}




