.list{
    display:flex;
    flex-direction: column;
    margin-top: 2%;
    overflow-x: auto;
}

.bttn{
width: auto;
height: 40px;
}
#tableCard{
    width: a;
}

.btn1{
    color: rgb(93, 91, 91);
}
.deleteBtn1{
    color: red;
  }
@media (max-width:654px) {
    .table thead{
        display: none;
    }
    .table,
    .table tbody,
    .table td,
    .table tr{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15 px;
    }
    .table td{
        text-align: center;
        position: relative;
    }
   
}
#sort{
    margin-left: 52px;
    margin-top: -23px;
}
@media (width:820px)  {
    #tableCard{
        width: max-content
    }
}
@media (width:768px) {
    #tableCard{
        width: max-content;
    }
}
@media (max-width:450px) {
    #searchInput{
        width:50%;
    }
    .searchForm{
       height: 2px;
    }
    .addPro{
        width:fit-content;
        font-size: x-small;
        margin-left:50%;
    }
}

.table-body td,.table-body th {
    height: 3rem !important;
  }