.list{
    display:flex;
    flex-direction: column;
    margin-top: 2%;
    overflow-x: auto;
}

#sort{
    margin-left: 52px;
    margin-top: -23px;
}
.bttn{
width: auto;
height: 40px;
}
#tableCard{
    width: 100%;
}
#icon{
  margin-left: 27%; 
}
#action{
    width: 9%;
}
.editBtn{
    color: rgb(93, 91, 91);
  
}
.deleteBtn{
    color: red;
    margin-left: 27%; 
    }
@media (max-width:654px) {
    .table thead{
        display: none;
    }
    .table,
    .table tbody,
    .table td,
    .table tr{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15 px;
    }
    .table td{
        text-align: center;
        position: relative;
    }
    #action{
        width: auto;
    }
}
@media (width:820px)  {
    #tableCard{
        width: max-content
    }
}
@media (width:768px) {
    #tableCard{
        width: max-content;
    }
}
@media (max-width:450px) {
    #searchInput{
        width:50%;
    }
    .searchForm{
       height: 2px;
    }
    .addPro{
        width:fit-content;
        font-size: x-small;
        margin-left:50%;
    }
}
td,th {
    height: 3rem !important;
  }