.styled-table {
    border-collapse: collapse;
    margin: 20px 0;
    margin-left:20px;
    font-size: 0.9em;
    font-family: sans-serif;


}
h2{
    position: relative;
    top: 50px;
    left: 40px; 
    
}

.bar{
    display:flex;
    flex-direction: row;
    height: 75px;}
.d-flex{
    margin-left:60%; 
    margin-top:10%; 
   width: 30px;
   height: 30px;
}
.Customer{
    margin-top: 50px;
}
p{
    position: relative;
    top: 50px;
    left: 40px;
}

.all{
    background-color: white; 
    overflow-x: auto;
    
}


tbody{
    background-color: #eff4f4;
  
}
thead{
    background-color: #eff4f4;
    font-size: 13px;
    text-transform: uppercase;
  
}
#search{
    margin-left: 60%;
}
tr:hover td{
    color: rgb(31, 81, 112);
    cursor: pointer;
    background-color: #eff4f4;
}