#addBTN{
    height: 40px;
   font-size:12px;
   width: auto;
   margin: auto;
}


.bodyM{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    position: relative;
}

.form-style{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    height: 100%;
    width: 100%;
}

.flex{
    height: 18px;
    }

.lab{
    padding-left: 6%;
    color: rgb(48, 47, 47);
}
.emaill{
    padding-left: 6%;
    color: rgb(48, 47, 47);
}
.phone{
    padding-left: 6%;
    color: rgb(48, 47, 47);
}
.city{
    padding-left: 6%;
    color: rgb(48, 47, 47);
}
#name{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#email{
    width:56%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#city{
    width: 30%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#phone{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
.addres{
    padding-left: 6%;
    color: rgb(48, 47, 47);

}
#address{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
.password{
    padding-left: 6%;
    color: rgb(48, 47, 47);

}
#password{
    width: 40%;
    margin-left: 7%;
    border-color: #d3d3d3;
    height: 1%;
} 
/*
.input-group.mb-6.pass{
    width: 62%;
    margin-left: 2%;
}
*/

#rest{
    width: 20%;
    height: 8%;
    margin-left: 6%;
    border-color: #d3d3d3;
}

#gen-pass{
    width: 15%;
    height: 34px;
    font-size: 10px;
    margin-right: 38%;

}



