#add{
    margin-top: 23px;
    margin-left: 4%;
    height: 40px;
   font-size:12px;
   width: 45%;

}

.bodyM{
    width: 600px;
    height: 500px;;
    
   display: flex;
    position: relative;
}

.form-style{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex{
    height: 17px;
    }

.lab{
    padding-left: 6%;
    color: gray;
}
.emaill{
    padding-left: 6%;
    color: gray;
}
.phone{
    padding-left: 6%;
    color: gray;
}
.city{
    padding-left: 6%;
    color: gray; 
}
#name{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#email{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#citty{
    width: 20%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#phonen{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
.addres{
    padding-left: 6%;
    color: gray;

}
#address{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
.password{
    padding-left: 6%;
    color: gray;

}
#password{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}

#rest{
    width: 20%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}

    


