#add{
    margin-top: 23px;
    margin-left: 4%;
    width: 12%;
    height: 45px;
   font-size:small;

}

.bodyM{
    width: 600px;
    height: 500px;;
    
   display: flex;
    position: relative;
}

.form-style{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.flex{
    height: 17px;
    }

.lab{
    padding-left: 6%;
    color: gray;
}
.emaill{
    padding-left: 6%;
    color: gray;
}
.phone{
    padding-left: 6%;
    color: gray;
}
.city{
    padding-left: 6%;
    color: gray; 
}
#title{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#email{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#citty{
    width: 20%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#phonen{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
.addres{
    padding-left: 6%;
    color: gray;

}
#address{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}


#rest{
    width: 20%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #add{
        margin-top: 23px;
        margin-left: 4%;
        width: 13%;
        height: 35px;
       font-size:11px;
    
    }

}
@media only screen and (max-width: 767px) {
    #add{
        margin-top: 23px;
        margin-left: 10%;
        width: 60%;
        height: 30px;
       font-size:10px;
    
    }
    .body{
        width: 500px;
        height: 320px;;
       display: flex;
        position: relative;
    }

}

