.profile-button {
    background: #55728f;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #55728f;
}

.profile-button:focus {
    background: #55728f;
    box-shadow: none
}

.profile-button:active {
    background: #55728f;
    box-shadow: none
}

.labelscol {
    font-size: 13px;
    color: #55728f;
}

input#picture1 {
    font-size: 8px;
    margin: auto;
    padding-left: 60px;
}

.d-flex.flex-column.align-items-center.text-center.p-3.py-5 {
    margin-right: 150px;
}

#titlecol {
    color: #55728f;
    font-size: xx-large;
}

@media (min-width: 320px) {
    .custom-profile-col {
        flex: 0 0 auto;
        width: 100%;
    }

    #firstbox {
        font-size: xxx-large;
        color: gray;
    }

    #secondbox {
        font-size: xxx-large;
        
    }

    #thirdbox {
        font-size: xxx-large;
        color: gray;
    }

    #fourthbox {
        font-size: xxx-large;
        color: gray;
    }

    #fifthbox {
        font-size: xxx-large;
    }

    #sixthbox {
        font-size: xxx-large;
    }

    #seventhbox {
        font-size: xxx-large;
    }

    #eighthbox {
        font-size: xxx-large;
    }

    input#picture1 {
        font-size: small;
    }

    #fname {
        font-size: large;
    }

    #email {
        font-size: large;
    }

    #number {
        font-size: large;
    }

    .rounded-circle {
        width: 350px;
    }

    button.btn.btn-primary.profile-button {
        font-size: xx-large;
    }
}
@media (min-width: 768px )and (max-width: 991px) {
    .custom-profile-col {
        flex: 0 0 auto;
        width: 100%;
    }
    .col-12.col-md-9.col-lg-6 {
        margin-left: 50px;
    }

    #firstbox {
        font-size: large;
        color: gray;
    }

    #secondbox {
        font-size: large;
    }

    #thirdbox {
        font-size: large;
        color: gray;
    }

    #fourthbox {
        font-size: large;
        color: gray;
    }

    #fifthbox {
        font-size: large;
    }

    #sixthbox {
        font-size: large;
    }

    #seventhbox {
        font-size: large;
    }

    #eighthbox {
        font-size: large;
    }

    input#picture1 {
        font-size: xx-small;
    }

    #fname {
        font-size: large;
    }

    #email {
        font-size: medium;
    }

    #number {
        font-size: medium;
    }

    .rounded-circle {
        width: 300px;
    }

    button.btn.btn-primary.profile-button {
        font-size: large;
    }

    #photo_and_its_components {
        margin: auto;
    }
}
@media (min-width: 992px) {
    .custom-profile-col {
        flex: 0 0 auto;
        width: 50%;
    }

    #firstbox {
        font-size: large;
        color: gray;
    }

    #secondbox {
        font-size: large;
    }

    #thirdbox {
        font-size: large;
        color: gray;
    }

    #fourthbox {
        font-size: large;
        color: gray;
    }

    #fifthbox {
        font-size: large;
    }

    #sixthbox {
        font-size: large;
    }

    #seventhbox {
        font-size: large;
    }

    #eighthbox {
        font-size: large;
    }

    input#picture1 {
        font-size: xx-small;
    }

    #fname {
        font-size: large;
    }

    #email {
        font-size: medium;
    }

    #number {
        font-size: medium;
    }

    .rounded-circle {
        width: 300px;
    }

    button.btn.btn-primary.profile-button {
        font-size: large;
    }

    #photo_and_its_components {
        margin: auto;
    }
}
