@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;

    /* max-height: 50; */
    /* background-color: #f1f1f1; */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.info {
    position: absolute;
    right: 18%;
}

thead {
    color: #3030cd;
}

nav span {
    position: absolute;
    text-transform: uppercase;
    font-size: xxx-large;
}

ul {
    list-style-type: none;
}


.date-invoice,
.invoice-num {
    font-weight: bold;
}

.invoice-table,
.dates {
    margin-top: 6%;
}

.invoice-total {
    font-weight: initial;
    color: #3030cd;
    font-size: xx-large;
    position: absolute;
    right: 21%;
}

.row {
    color: #262626;
}

.money li {
    position: relative;
}

/* .tax,
.total {
    position: absolute;

} */