@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    font-size: 1.2vw;
    font-family: 'Montserrat', sans-serif;
}

thead {
    color: #29aed6;
}

nav span {
    /* position: absolute; */
    text-transform: uppercase;
    font-size: xxx-large;
}

ul {
    list-style-type: none;
}

.total {
    justify-content: center;
}

.date-invoice,
.invoice-num {
    font-weight: bold;
}

.invoice-table,
.dates {
    margin-top: 6%;
}

.invoice-total {
    font-weight: initial;
    color: #29aed6;
    font-size: xx-large;
    right: 21%;
}

.row {
    color: #262626;
}

.money li {
    position: relative;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}