/* Public */
thead,
#sub-total,
#tax {
    color: #29aed6;
}

ul {
    list-style-type: none;
}

/* End of public */


/* Main Part - Client Details */
.total {
    justify-content: center;
}

.invoice-column,
.date-column {
    margin-top: 6%;
}

.invoice-total {
    position: relative;
    font-weight: initial;
    color: #29aed6;
    font-size: xx-large;
    left: 1%;
}

.invoice-table {
    position: relative;
    top: 4.2rem;
}

/* End of Client Details */

.footer {
    display: flex;
    justify-content: space-evenly;
}


/* Responsive */
@media screen and (max-width:650px) {

    Table thead {
        display: flex;
    }

    table,
    tbody,
    tr,
    td {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 15px;
        justify-content: center;
        display: flex;
    }

    td {
        text-align: center;
        position: relative;
    }
}