@media(max-width:745px) {
  #THEAD {
    display: none;
  }

  #table,
  #TBODY,
  #TR,
  #TD1,
  #TD2,
  #TD3,
  #TD4,
  #TD5,
  #TD6 {
    display: block;
    width: 100%;
  }

  #TR {
    margin-bottom: 15px;
  }

  #TD1,
  #TD2,
  #TD3,
  #TD4,
  #TD5,
  #TD6 {
    text-align: center;
    position: relative;
  }
}
