:root {
	--primary: #0091ff;
	--dark: #a6abaf;
	--gray: #756388;
	--light: #ffffff;
}
*{
  margin: 0;
  font-family: 'Nunito', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 0;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

.pageinfo{
  flex:10;
  align-items: center;
  margin-top:3.5%;
  padding-left: 2%;
  padding-right: 1%;
}

a:-webkit-any-link {
  text-decoration: none;
}