:root {
	--primary: #999fa5;
	--dark: #536872;
	--gray: #708090;
	--light: #ffffff;
}

body{
  margin: 0;
  padding:0;
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif ;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: "Nunito", sans-serif;
    margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.pageinfo{
  flex:10;
  align-items: center;
  margin-top:3.5%;
  padding-left: 2%;
  padding-right: 1%;
}

a:-webkit-any-link {
  text-decoration: none;
}